
src/
public/
node_modules/
.DS_Store
*.log
.vscode/
.idea/
.gitignore

# 配置文件全部忽略
eslint.config.js
index.html
tsconfig.app.json
tsconfig.node.json
tsconfig.tsbuildinfo
tsconfig.json
package-lock.json
temp-types
vite.config.ts

# --------------- 只允许---------------

!README.md
!dist/
!package.json